@import "base/mixins";
@import "base/layout";

@import "components/header";
@import "base/overlealet";
@import "components/map";
@import "components/toolbar";
@import "components/output";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  margin: 0;
  min-height: 100%;
  background-color: #4DBCB6;
}
