.page-container {
  width: 100%;
  min-width: 290px;
  min-height: 100%;
  background-color: #4DBCB6;
}

.page-content {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.page--right {
  margin-right: 12%;
  width: 400px;
}
