
.leaflet-container {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  cursor: auto;
}

.leaflet-popup-content {
  text-align: center;
  min-height: 30px;
  position: relative;

  p {
    margin: 3px;
  }
}

.leaflet-popup-content-wrapper {
  min-width: 200px;
}
